POSTGRES_DB=lexora_db
POSTGRES_USER=lexora_postgres_db_user
POSTGRES_PASSWORD=dgsg4r3fsfgdflKdfLDfndfdk343rdfdf365
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

APP_PASSWORD=<your-password>
SECRET_KEY=<run: openssl rand -hex 32>
API_KEY=<run: openssl rand -hex 32>